.ant-carousel .slick-slide {
	text-align: center;
	height: 500px;
	width: 'auto';
	line-height: 160px;
	background: #ffffff;
	overflow: hidden;
}

.ant-carousel .slick-slide h3 {
	color: rgb(10, 10, 10);
}

.ant-carousel .slick-slide h3 img {
	width: 100%;
	height: 100%;
}
